body,html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}
.conteudo {
    text-align: center;
    padding: 50px 80px;
    background-color: white;
    color: #777;
}
h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

/* Efeito Parallax */
.caixa1, .caixa2, .caixa3, .caixa4 {
    height: 100%;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.caixa1 {
    background-image: url(imagens/imagem1.jpg);

}
.caixa2 {
    background-image: url(imagens/imagem2.jpg);
}
.caixa3 {
    background-image: url(imagens/imagem3.jpg);
}
.caixa4 {
    background-image: url(imagens/imagem4.jpg);
}
.conteudoTitulo {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}
.title {
    width: 100%;
    padding: 18px;
    background-color: blue;
    font-size: 25px;
    background-color: #111;
    color: #fff;
    letter-spacing: 5px;
}